# Compiled Object files
*.slo
*.lo
*.o
*.obj
Calibration/*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Junk files
*.md~
*.md.swp
*.vscode/.browse.VC.*
*.pb.cc
*.pb.h

# Executables
*.exe
*.out
*.app
src/VSS-Vision

build/*
Debug/*
cmake-build-debug/*
cmake-build-debug/
.idea/*
3.4.2.tar.gz
opencv-3.4.2
opencv-3.4.2/
opencv-3.4.2/*

